:root {
  --basic-dark: #000000;
  --basic-light: #ffffff;
  --basic-grey: #e5e5e5;
  --basic-light-grey:#f2f2f2;
  --color-primary:#82b3d3;
  --color-secondary: rgba(131, 179, 211, 0.12);
  --color-tertiary: rgba(131, 179, 211, 0.2);
  --color-accent-1: #7db54f;
  --color-accent-2: #756157;
  --text-secondary: #333333;
  --text-error: #ff5757;
  --icon-secondary: #83b3d3;
  --socials-hover: #68A2CA;
  --socials-active: rgba(104, 162, 202, 0.30);
  --page-shadow: rgba(0, 0, 0, 0.2);
  --modal-box-shadow: rgba(0, 0, 0, 0.15);
  --tooltip-text-box-shadow: rgba(0, 0, 0, 0.30);
  --nav-link-underline: #756257;
  --bar-scale-grey: rgba(255, 255, 255, 0.3);
  --radio-selected: #3f5e72;
  --modal-overlay: rgba(242, 242, 242, 0.8);
  --brown-1: rgba(117, 97, 87, 0.3);
  --brown-2: #615048;
  --green-1: #6C9E42;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
 }

 @font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
 }

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--basic-dark);
  background-color: var(--basic-light-grey);
 }

 body:has(dialog[open]) {
  overflow: hidden;
}

.page-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-light);
  box-shadow: 0 0 15px var(--page-shadow);
 }

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
}

 /* Общее */

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.main-container {
  flex-grow: 1;
 }

.inner-container {
  padding: 0 70px;
}

/* Кнопки */

.btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--basic-light);
  text-align: center;
}

.btn-submit,
.btn-reset {
  min-width: 190px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-submit {
  background-color: var(--color-primary);
}

.btn-reset {
  background-color: transparent;
}

.btn-submit:disabled {
  background-color: var(--basic-grey);
  pointer-events: none;
}

.btn-submit:hover,
.btn-submit:focus {
  background-color: var(--socials-hover);
}

.btn-submit:active {
  color: var(--bar-scale-grey);
}

.btn-reset:disabled {
  opacity: 0.10;
  pointer-events: none;
}

.btn-reset:hover {
  opacity: 0.6;
}

.btn-reset:active {
  color: var(--bar-scale-grey);
}

/* Lead blocks */

.inner-wrapper {
  width: 685px;
  margin: 0 auto;
  text-align: center;
}

.lead-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.lead-title-light {
  color:var(--basic-light);
}

.lead-subtitle {
  margin: 0;
  line-height: 1.18;
  color: var(--text-secondary);
}

.lead-subtitle-light {
  color:var(--basic-light);
}

/* Шапка сайта */

.header {
  display: flex;
  gap: 45px;
}

.logo {
  display: block;
  margin-bottom: -6px;
  position: relative;
  flex-shrink: 0;
}

.logo-img {
  display: block;
  width: 140px;
  height: 70px;
}

.nav {
  display: flex;
  gap: 30px;
  width: 892px;
}

.nav-list,
.nav-user {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-list {
  gap: 32px;
  flex-grow: 1;
}

.nav-user {
  align-items: center;
}

.nav-link {
  display: block;
  position: relative;
  padding: 20px 0 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.nav-link-current::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--nav-link-underline);
}

.nav-user-item .nav-user-link {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
}

.nav-user-search {
  margin-right: 4px;
}

.nav-user-search::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.nav-user-link:hover {
  opacity: 0.7;
}

.nav-user-favorite {
  margin-right: 20px;
}

.nav-user-favorite::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  grid-column: 1;
  grid-row: 1;
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.notification-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  grid-row: 1;
  grid-column: 1;
  align-self: start;
  justify-self: end;
  padding: 5px;
  font-family: inherit;
  font-size: 10px;
  color: var(--basic-light);
  background-color: var(--color-accent-1);
  border-radius: 50%;
}

.nav-btn {
  display: block;
  min-width: 160px;
  min-height: 35px;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 34px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-light);
  background-color: var(--color-accent-2);
  text-decoration: none;
  border-radius: 4px;
}

.nav-btn[disabled] {
  background-color: var(--basic-grey);
  pointer-events: none;
}

.nav-btn:hover,
.nav-btn:focus {
  background-color: var(--brown-2);
}

.nav-btn:active {
  color: var(--bar-scale-grey);
}

/* Hero */

.hero {
  background-color: var(--basic-grey);
  background-image: url("../images/divider.svg"), url("../images/hero/hero-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
  background-size: 100%, 100%;
  padding: 50px 70px 82px;
}

.hero-inscription {
  display: block;
  width: 458px;
  margin: 0 auto;
}

/* Преимущества и Услуги */

.advantages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 70px;
}

.services {
  padding-top: 65px;
}

.lead-title-advantages {
  margin-bottom: 25px;
}

.lead-subtitle-advantages {
  margin-bottom: 70px;
}

.lead-title-services {
  margin-bottom: 20px;
}

.lead-subtitle-services {
  margin-bottom: 65px;
}

.advantages-list,
.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-title,
.services-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title::after {
  content: "";
  display: block;
  margin: 30px auto;
  width: 60px;
  height: 2px;
  background-color: var(--basic-dark);
  opacity: 0.3;
}

.advantages-title-light::after {
  background-color: var(--basic-light);
  opacity: 0.3;
}

.services-title::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.services-title-lodging::before {
  background-image: url("../images/services/service-1.svg");
}

.services-title-food::before {
  background-image: url("../images/services/service-2.svg");
}

.services-title-souvenirs::before {
  background-image: url("../images/services/service-3.svg");
}

.advantages-text,
.services-text {
  margin: 0;
  font-size: 18px;
  line-height: 1.16;
  color: var(--text-secondary);
  text-align: center;
}

.advantages-item {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 385px;
}



.advantages-item-wide {
  grid-template-columns: 1fr 2fr;
  grid-column: 1 / -1;
  color: var(--basic-light);
  background-color: var(--color-primary);
}

.advantages-item-reverse {
  grid-template-columns: 2fr 1fr;
}

.advantages-item-reverse .advantages-wrapper {
  order: 1;
}

.advantages-item:not(.advantages-item-wide):nth-child(2n) {
  background-color: var(--color-secondary);
}

.advantages-item:not(.advantages-item-wide):nth-child(2n + 1) {
  background-color: var(--color-tertiary);
}

.advantages-wrapper {
  max-width: 230px;
  margin: 0 auto;
  padding: 20px 0;
}

.advantages-wrapper-wide .advantages-text {
  color: var(--basic-light);
}

.services-item {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 81px 85px;
  gap: 30px;
}

.services-item:nth-child(2n + 1) {
  background-color: var(--color-secondary);
}

/* Поиск */

.search {
  padding: 95px 70px;
}

.search-btn {
  min-width: 376px;
  margin-top: 55px;
  padding: 8px 50px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  text-transform: uppercase;
  color: var(--basic-light);
  background-color: var(--color-accent-2);
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-btn:disabled {
  background-color: var(--basic-grey);
  pointer-events: none;
}

.search-btn:hover,
.search-btn:focus {
  background-color: var(--brown-2);
}

.search-btn:active {
  color: var(--bar-scale-grey);
}

/* Блок подписки */

.subscribe {
  padding: 96px 70px 104px;
}

.subscribe-main {
  background-color: var(--color-primary);
  background-image: url("../images/subscribe/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-top: 55px;
}

.subscribe-input {
  padding: 14px 20px;
  font-size: 18px;
  font-family: inherit;
  background-color: var(--basic-light-grey);
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-btn {
  min-width: 232px;
  padding: 8px 16px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  text-transform: uppercase;
  color: var(--basic-light);
  background-color: var(--color-primary);
  text-align: center;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--socials-hover);
}

.subscribe-btn:active {
  color: var(--bar-scale-grey);
}

/* Подвал сайта */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  max-width: 180px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials-link::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 40px;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--icon-secondary);
}

.socials-link:hover::before {
  background-color: var(--socials-hover);
}

.socials-link:focus::before {
  background-color: var(--socials-hover);
}

.socials-link:active::before {
  background-color: var(--socials-active);
}

.socials-link-vk::before {
  mask-image: url("../images/socials/social-vk.svg");
  mask-size: 24px 14px;
}

.socials-link-telegram::before {
  mask-image: url("../images/socials/social-telegram.svg");
  mask-size: 18px 15px;
}

.socials-link-youtube::before {
  mask-image: url("../images/socials/social-youtube.svg");
  mask-size: 22px 17px;
}

.footer-phone {
  max-width: 340px;
  font-size: 40px;
  font-style: normal;
  color: var(--basic-dark);
  text-decoration: none;

  &:hover {
    color: var(--color-accent-2);
  }

  &:focus {
    color: var(--color-accent-2);
  }

  &:active {
    color: var(--brown-1);
  }
}

.developer-link::before {
  content: "";
  display: block;
  width: 115px;
  height: 33px;
  mask-image: url("../images/developer.svg");
  mask-size: 115px 33px;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--basic-dark);
}

.developer-link:hover::before {
  background-color: var(--color-accent-2);
}

.developer-link:focus::before {
  background-color: var(--color-accent-2);
}

.developer-link:active::before {
  background-color: var(--brown-1);
}

/* Страница каталога */

.catalog-filter {
  padding: 35px 0 70px;
  background-color: var(--color-primary);
  background-image: url("../images/filter/filter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--basic-light);
}

.catalog-title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item {
  margin: 0;
  padding: 0;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 10px;
  margin: 0 10px;
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.breadcrumbs-link {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: inherit;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link-main::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../images/icons/home.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  padding-top: 40px;
}

.filter-area {
  width: min-content;
  border: none;
  margin: 0;
  padding: 0;
}

.filter-item {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 16px;
}

.filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.filter-input {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  appearance: none;
  margin: 0;
}

.filter-input:disabled,
.filter-input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.filter-input:hover,
.filter-input:hover + label {
  opacity: 0.6;
}

.filter-input:active,
.filter-input:active + label {
  opacity: 0.3;
}

.filter-input-checkbox::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: var(--basic-light);
  border-radius: 4px;
}

.filter-input-checkbox:checked::after {
  content: url("../images/icons/checkbox.svg");
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
}


.filter-input-radio::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: var(--basic-light);
  border-radius: 50%;
}

.filter-input-radio:checked::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: var(--radio-selected);
  border-radius: 50%;
}

.filter-area-price {
  max-width: 290px;
  margin-left: auto;
}

.filter-caption {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.2;
}

.filter-label {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.27;
}

.price-controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 2px;
  width: 288px;
}

.price-controls label {
  justify-self: end;
  padding: 12px 20px 12px 0;
  color: var(--basic-dark);
  opacity: 0.3;
}

.price-input {
  width: 100%;
  padding: 12px 40px 12px 20px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  background-color: var(--basic-light-grey);
  color: var(--basic-dark);
  border: none;
}

.price-input:hover,
.price-input:focus {
  background-color: var(--basic-grey);
}

.price-input-min {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: 4px 0 0 4px;
}

.price-input-max {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-radius: 0 4px 4px 0;
}

.min-price {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.max-price {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.range-controls {
  position: relative;
  width: 287px;

}

.range-controls .scale {
  margin-top: 40px;
  height: 4px;
  background-color: var(--bar-scale-grey);
}

.range-controls .bar {
  width: 75%;
  height: 4px;
  background-color: var(--basic-light);
}

.range-controls .toggle {
  position: absolute;
  top: -9px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: var(--basic-light);
  border-radius: 5px;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 205px;
}

.btn-controls {
  display: grid;
  gap: 32px;
  max-width: 190px;
  margin-top: 55px;
}

/* Гостиницы */

.hotels {
  padding-bottom: 60px;
}

/* Сортировка */

.catalog-sort {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
  padding: 50px 0 40px;
}

.sort-result {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.select-wrap {
  position: relative;
  margin-left: auto;
}

.select-wrap::after {
  content: "";
  position: absolute;
  top: 21px;
  right: 20px;
  width: 12px;
  height: 7px;
  background-image: url("../images/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.select-control {
  appearance: none;
  width: 292px;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
  color: var(--text-secondary);
  background-color: var(--basic-light);
  border: 2px solid var(--basic-grey);
  border-radius: 4px;
}

.select-control:disabled {
  color: var(--tooltip-text-box-shadow);
  border: 2px solid var(--tooltip-text-box-shadow);
  pointer-events: none;
}

.select-control:hover {
  border: 2px solid var(--socials-hover);
}

.sort-view {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.sort-view-icon {
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  border: 2px solid var(--basic-grey);
  border-radius: 4px;
}

.sort-view-icon-current {
  border: 2px solid var(--basic-dark);
}

.sort-view-icon:hover,
.sort-view-icon:active {
  border: 2px solid var(--basic-dark);
}

.sort-view-icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.sort-view-tile::before {
  content: url("../images/icons/catalog-view-tile.svg");
}

.sort-view-card::before {
  content: url("../images/icons/catalog-view-card.svg");
}

.sort-view-list::before {
  content: url("../images/icons/catalog-view-list.svg");
}

/* Карточки гостиниц */

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0;
  padding-bottom: 40px;
  margin: 0;
  list-style: none;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr repeat(3, auto);
  gap: 16px;
  padding: 20px;
  box-shadow: 0 0 1px 1px var(--basic-grey);
  border-radius: 4px;
}

.hotel-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.hotel-img {
  display: block;
}

.hotel-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  color: var(--basic-dark);
}

.hotel-info {
  font-size: 18px;
  line-height: 1.16;
  color: var(--text-secondary);
  margin: 0;
}

.hotel-info-price {
  justify-self: end;
}

.hotel-more-info {
  display: block;
  padding: 8px;
  min-width: 140px;
  color: var(--basic-light);
  background-color: var(--color-accent-2);
  text-decoration: none;
  border-radius: 4px;
}

.hotel-more-info[disabled] {
  background-color: var(--basic-grey);
  pointer-events: none;
}

.hotel-more-info:hover,
.hotel-more-info:focus {
  background-color: var(--brown-2);
}

.hotel-more-info:active {
  color: var(--bar-scale-grey);
}

.hotel-add {
  padding: 8px;
  min-width: 140px;
  font-family: inherit;
  color: var(--basic-light);
  background-color: var(--color-primary);
  border: none;
  border-radius: 4px;
}

.hotel-add:disabled {
  background-color: var(--basic-grey);
  pointer-events: none;
}

.hotel-add:hover,
.hotel-add:focus {
  background-color: var(--socials-hover);
}

.hotel-add:active {
  color: var(--bar-scale-grey);
}

.hotel-favorite {
  background-color: var(--color-accent-1);
}

.hotel-favorite:hover,
.hotel-favorite:focus {
  background-color: var(--green-1);
}

.hotel-rate {
  margin: 0;
  width: 140px;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--text-secondary);
}

.hotel-rate-star {
  display: flex;
  align-self: center;
}

.hotel-rate-star::before {
  content: "";
  height: 17px;
  background-image: url("../images/star.svg");
  background-repeat: space;
  background-size: 18px 17px;
}

.star-1::before {
  width: 18px;
}

.star-2::before {
  width: 42px;
}

.star-3::before {
  width: 66px;
}

.star-4::before {
  width: 84px;
}

.star-5::before {
  width: 102px;
}

.hotel-rate-number {
  padding: 8px 22px;
  text-align: center;
  background-color: var(--basic-light-grey);
  border-radius: 4px;
}

/* Пагинация */

.pagination-list {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  padding-top: 40px;
  margin: 0;
  list-style: none;
}

.pagination-item {
  text-align: center;
}

.pagination-item span {
  display: block;
  min-width: 60px;
}

.pagination-number {
  display: block;
  min-width: 60px;
  padding: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  text-transform: uppercase;
  color: var(--basic-light);
  background-color: var(--color-primary);
  text-decoration: none;
  border-radius: 4px;
}

.pagination-number-active {
  color: var(--basic-dark);
  background-color: var(--basic-light-grey);
}

.pagination-number:not(.pagination-number-active):hover {
  background-color: var(--socials-hover);
}

.pagination-number:not(.pagination-number-active):active {
  background-color: var(--color-primary);
  color: var(--bar-scale-grey);
}

/* Модальное окно */

dialog {
  width: 717px;
  padding: 64px 70px;
  background-color: var(--basic-light);
  border: none;
  border-radius: 30px;
  box-shadow: 0 25px 50px var(--modal-box-shadow);
  overflow-y: hidden;
}

dialog::backdrop {
  background-color: var(--modal-overlay);
}

.modal-close-btn {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: var(--basic-light-grey);
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: var(--basic-grey);
  }

}

.modal-close-btn::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  background-image: url("../images/icons/close-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}

.modal-close-btn:active::before {
  opacity: 0.3;
}

.modal-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.modal-form label {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.2;
}

.modal-form input {
  font-size: 18px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.3;
  border: none;
  border-radius: 4px;
  background-color: var(--basic-light-grey);
}

.modal-input-date {
  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center right 20px;
}

.modal-input-date:hover,
.modal-input-date:focus {
  background-color: var(--basic-grey);
}

.sign-in-date,
.sign-out-date {
  grid-column: 1 / 2;
}

.modal-input-sign-in,
.modal-input-sign-out {
  grid-column: 2 / -1;
  padding: 12px 20px;
}

.modal-comment {
  grid-column: 2 / -1;
  padding: 0 20px;
  margin: 4px 0 23px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}

.modal-search-btn {
  grid-column: 1/ -1;
  margin-top: 48px;
  padding: 18px 24px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-light);
  background-color: var(--icon-secondary);
  border-radius: 10px;
}

.modal-search-btn:hover {
  background-color: var(--socials-hover);
}

.modal-search-btn:active {
  color: var(--bar-scale-grey);
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.modal-comment-error {
  color: var(--text-error);
}

.input-quantity {
  width: 100%;
  padding: 14px 10px;
  outline-offset: -1px;
}

.label-children {
  justify-self: center;
}

.counter-children {
  justify-self: end;
}

.counter-adults {
  justify-self: start;
}

.counter {
  display: flex;
  width: 110px;
  align-items: center;
  justify-content: center;

  min-height: 48px;
  background-color: var(--basic-light-grey);
  border-radius: 4px;
}

.counter-btn {
  display: block;
  width: 40px;
  border: none;
  padding: 14px 10px;
  cursor: pointer;
  background-color: var(--basic-light-grey);
  outline-offset: -1px;
}

.counter-btn-decrement::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  mask-image: url("../images/icons/button-minus.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 14px 2px;
  background-color: var(--brown-1);
}

.counter-btn-increment::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  mask-image: url("../images/icons/button-plus.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 14px;
  background-color: var(--brown-1);
}

.counter-btn-decrement:hover::before,
.counter-btn-increment:hover::before {
  background-color: var(--basic-dark);
}

.counter-btn-decrement:active::before,
.counter-btn-increment:active::before {
  background-color: var(--basic-dark);
  opacity: 0.2;
}

/* Tooltip */

.tooltip {
  position: absolute;
  margin-left: 10px;
}

.tooltip-trigger {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  width: 26px;
  height: 26px;
  background-color: var(--icon-secondary);
  background-image: url("../images/icons/tooltip-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2px 12px;
  border-radius: 50%;
}

.tooltip-text {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
  padding: 18px 22px;
  width: 256px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.25;
  color: var(--basic-light);
  background-color: var(--text-secondary);
  border-radius: 10px;
  box-shadow: 0 15px 30px var(--tooltip-text-box-shadow);
}

.tooltip-trigger:hover + .tooltip-text,
.tooltip-trigger:focus + .tooltip-text {
  display: block;
}

.tooltip-text::before {
  content: "";
  border: 10px solid transparent;
  border-bottom-color: var(--text-secondary);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
