:root {
  --basic-dark: #000000;
  --basic-light: #ffffff;
  --basic-grey: #e5e5e5;
  --basic-light-grey:#f2f2f2;
  --color-primary:#82B3D3;
  --color-secondary: rgba(131, 179, 211, 0.12);
  --color-tertiary: rgba(131, 179, 211, 0.2);
  --color-accent: #7DB54F;

  /* Тексты */

  --text-secondary: #333333;
  --text-error: #FF5757;

  /* Кнопки */

  --btn-primary: #756157;

  /* Иконки */

  --icon-secondary: #83B3D3;

  /* Тени */

  --page-shadow: rgba(0, 0, 0, 0.2);

  /* Дополнительно */

  --nav-link-underline: #756257;

}


@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
 }

 @font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
 }

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0 70px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--basic-dark);
  background-color: var(--basic-light-grey);
 }

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-light);
  box-shadow: 0 0 15px var(--page-shadow);
 }

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

 /* Общее */

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.main-container {
  flex-grow: 1;
 }

.inner-container {
  padding: 0 70px;
}

/* Кнопки */

.btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--basic-light);
  text-align: center;
}

.btn-submit {
  background-color: var(--color-primary);
}

.btn-reset {
  background-color: transparent;
}

/* Lead blocks */

.inner-wrapper {
  width: 685px;
  margin: 0 auto;
  text-align: center;
}

.lead-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.lead-title-light {
  color:var(--basic-light);
}

.lead-subtitle {
  margin: 0;
  line-height: 1.18;
  color: var(--text-secondary);
}

.lead-subtitle-light {
  color:var(--basic-light);
}

/* Шапка сайта */

.logo {
  margin-right: 30px;
}

.header {
  display: flex;
  height: 64px;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 892px;
}

.nav-list,
.nav-user {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-list {
  width: 464px;
  flex-wrap: wrap;
  gap: 32px;
}

.nav-link {
  padding: 20px 0 18px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
  text-decoration: none;
}

.nav-link-current {
  border-bottom: 2px solid var(--nav-link-underline);
}

.nav-user-link {
  padding: 0 12px;
  text-decoration: none;
}

.nav-user-favorite {
  margin-right: 20px;
}

.notification-badge {
  width: 20px;
  height: 20px;
  padding: 5px;
  font-family: inherit;
  font-size: 10px;
  color: var(--basic-light);
  background-color: var(--color-accent);
  border-radius: 50%;
}

.nav-btn {
  font-size: 16px;
  font-weight: 700;
  padding: 8px 34px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--basic-light);
  background-color: var(--btn-primary);
  text-decoration: none;
  border-radius: 4px;
}

/* Hero */

.hero {
  background-color: var(--basic-grey);
  background-image: url("../images/divider.svg"), url("../images/hero/hero-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
  background-size: 100%, 100%;
  padding: 50px 70px 82px;
}

.hero-inscription {
  display: block;
  width: 458px;
  margin: 0 auto;
}

/* Преимущества и Услуги */

.advantages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 70px;
}

.services {
  padding-top: 65px;
}


.lead-title-advantages {
  margin-bottom: 25px;
}

.lead-subtitle-advantages {
  margin-bottom: 70px;
}

.lead-title-services {
  margin-bottom: 20px;
}

.lead-subtitle-services {
  margin-bottom: 65px;
}

.advantages-list,
.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-title,
.services-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  text-transform: uppercase;
}

.advantages-text,
.services-text {
  font-size: 18px;
  line-height: 1.16;
  color: var(--text-secondary);
  text-align: center;
}

.advantages-title {
  margin: 0;
  text-align: center;
}

.advantages-item:nth-child(2n) {
  background-color: var(--color-secondary);
}

.advantages-item:nth-child(2n + 1) {
  background-color: var(--color-tertiary);
}

.advantages-item:first-child,
.advantages-item:last-child {
  display: flex;
  width: 100%;
  color: var(--basic-light);
  background-color: var(--color-primary);
}

.advantages-item:first-child .advantages-text,
.advantages-item:last-child .advantages-text {
  color: var(--basic-light);

}

.advantages-item:last-child img {
  order: -1;
}

.advantages-item-wide {
  grid-column: 1 / -1;
}

.advantages-wrapper {
  padding: 112.5px 85px;
}

.advantages-wrapper-wide {
  padding: 102px 85px;
}

.services-item {
  padding: 81px 85px;
  text-align: center;
}

.services-item:nth-child(2n + 1) {
  background-color: var(--color-secondary);
}

/* Поиск */

.search {
  padding: 95px 70px;
}

.search-btn {
  margin-top: 55px;
  padding: 8px 50px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  text-transform: uppercase;
  color: var(--basic-light);
  background-color: var(--btn-primary);
  text-align: center;
  border: none;
  border-radius: 4px;
}

/* Блок подписки */

.subscribe {
  padding: 96px 70px 104px;
}

.subscribe-main {
  background-color: var(--color-primary);
  background-image: url("../images/subscribe/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscribe-form {
  display: flex;
  margin-top: 55px;
}

.subscribe-input {
  flex-grow: 1;
  font-family: inherit;
  background-color: var(--basic-light-grey);
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-btn {
  padding: 8px 50px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  text-transform: uppercase;
  color: var(--basic-light);
  background-color: var(--color-primary);
  text-align: center;
  border: none;
  border-radius: 0 4px 4px 0;
}

/* Подвал сайта */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}


.footer-phone {
  font-size: 40px;
  font-style: normal;
  color: var(--basic-dark);
  text-decoration: none;
}

/* Страница каталога */

.catalog-filter {
  background-color: var(--color-primary);
  background-image: url("../images/filter/filter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--basic-light);
}

.catalog-title {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;

}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}

.filter-form {
  display: flex;
}

.filter-area {
  border: none;
}

.filter-caption {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.filter-label {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.27;
}

.price-input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: var(--basic-dark);
}

.catalog-sort {
  display: flex;
  margin-bottom: 40px;
}

.sort-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
  color: var(--text-secondary);
}

/* Карточки гостиниц */

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-basis: 340px;
  padding: 20px;
  outline: 1px solid var(--basic-grey);
  border-radius: 4px;
}

.hotel-link {
  text-decoration: none;
}

.hotel-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  color: var(--basic-dark);
}

.hotel-info {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 1.16;
  color: var(--text-secondary);
}

.hotel-info p {
  margin: 0;
}

.hotel-btn-box {
  display: flex;
  justify-content: space-between;
}

.hotel-more-info {
  padding: 8px;
  width: 140px;
  color: var(--basic-light);
  background-color: var(--btn-primary);
  text-decoration: none;
  border-radius: 4px;
}

.hotel-add {
  padding: 8px;
  width: 140px;
  font-family: inherit;
  color: var(--basic-light);
  background-color: var(--color-primary);
  border: none;
  border-radius: 4px;
}

.hotel-favorite {
  background-color: var(--color-accent);
}

.hotel-rate {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--text-secondary);
}

.hotel-rate p {
  margin: 0;
}

.hotel-rate-number {
  padding: 8px 22px;
  width: 140px;
  text-align: center;
  background-color: var(--basic-light-grey);
  border-radius: 4px;
}

/* Пагинация */

.pagination-list {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 8px;
  padding: 40px 0 60px;
  margin: 0;
  list-style: none;
}

.pagination-item {
  min-width: 60px;
  text-align: center;
}

.pagination-number {
  display: block;
  padding: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  text-transform: uppercase;
  color: var(--basic-light);
  background-color: var(--color-primary);
  text-decoration: none;
  border-radius: 4px;
}

.pagination-number-active {
  color: var(--basic-dark);
  background-color: var(--basic-light-grey);
}
