:root {
  --basic-dark: #000000;
  --basic-light: #ffffff;
  --basic-grey: #E5E5E5;
  --basic-light-grey:#F2F2F2;
  --color-primary:#82B3D3;
  --color-secondary: rgba(131, 179, 211, 0.12);
  --color-tertiary: rgba(131, 179, 211, 0.2);
  --color-accent: #7DB54F;

  /* Тексты */

  --text-secondary: #333333;
  --text-error: #FF5757;

  /* Кнопки */

  --btn-primary: #756157;

  /* Иконки */

  --icon-secondary: #83B3D3;

  /* Тени */

  --page-shadow: rgba(0, 0, 0, 0.2);


}


@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
 }

 @font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
 }

html {
  height: 100%;
}

 body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--basic-dark);
  background-color: var(--basic-light-grey);
 }


 /* Общее */

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px var(--page-shadow);
  background-color: var(--basic-light);
}

.main-container {
  flex-grow: 1;
 }

.btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--basic-light);
  text-align: center;
}

.btn-submit {
  background-color: var(--color-primary);

}

.btn-reset {
  background-color: transparent;

}

.lead-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.lead-title-light {
  color:var(--basic-light);
}

.lead-subtitle {
  line-height: 1.18;
  color: var(--text-secondary);
}

.lead-subtitle-light {
  color:var(--basic-light);
}

/* Навигация */
.nav-list,
.nav-user {
  list-style: none;
}

.nav-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
  text-decoration: none;
}

.nav-user-favorite {
  text-decoration: none;
}

.notification-badge {
  font-family: inherit;
  font-size: 10px;
  color: var(--basic-light);
  background-color: var(--color-accent);
}

.nav-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--basic-light);
  background-color: var(--btn-primary);
  text-decoration: none;
}


/* Hero */

.hero {
  background-color: var(--color-primary);
  background: url("../images/divider.svg"), url("../images/hero/hero-background.jpg");
  background-repeat: no-repeat no-repeat;
  background-position: bottom center;
  background-size: contain cover;
  padding: 51px 0 82px;
}

.hero-inscription {
  display: block;
  width: 458px;
  margin: 0 auto;
}

/* Преимущества и Услуги */

.advantages-list,
.services {
  list-style: none;
}

.advantages-title,
.services-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  text-transform: uppercase;
}

.advantages-text,
.services-text {
  font-size: 18px;
  line-height: 1.16;
  color: var(--text-secondary);
}

/* Поиск */

.search-btn {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  text-transform: uppercase;
  color: var(--basic-light);
  background-color: var(--btn-primary);
  text-align: center;
}

/* Блок подписки */

.subscribe {
  background-color: var(--color-primary);
  background-image: url("../images/subscribe/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.subscribe-label {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  color: var(--basic-dark);
  opacity: 0.6;
}

.subscribe-input {
  font-family: inherit;
}

.subscribe-btn {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  text-transform: uppercase;
  color: var(--basic-light);
  text-align: center;
  background-color: var(--color-primary);
}


/* Подвал сайта */

.footer-phone {
  font-size: 40px;
  font-style: normal;
  color: var(--basic-dark);
  text-decoration: none;
}

/* Страница каталога */

.catalog-filter {
  background-color: var(--color-primary);
  background-image: url("../images/filter/filter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--basic-light);
}

.catalog-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;

}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}

.filter-caption {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.filter-label {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.27;
}

.price-input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  color: var(--basic-dark);
}



.sort-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
  color: var(--text-secondary);
}

.hotel-list {
  list-style: none;
}

.hotel-link {
  text-decoration: none;
}

.hotel-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  color: var(--basic-dark);
}

.hotel-info {
  font-size: 18px;
  line-height: 1.16;
  color: var(--text-secondary);
}

.hotel-more-info {
  color: var(--basic-light);
  background-color: var(--btn-primary);
  text-decoration: none;
}

.hotel-add {
  font-family: inherit;
  color: var(--basic-light);
  background-color: var(--color-primary);
  border: none;
}

.hotel-favorite {
  background-color: var(--color-accent);
}

.hotel-rate {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--text-secondary);
}

.pagination-list {
  list-style: none;
}

.pagination-number {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  text-transform: uppercase;
  color: var(--basic-light);
  background-color: var(--color-primary);
  text-decoration: none;
}

.pagination-number-active {
  color: var(--basic-dark);
  background-color: var(--basic-light-grey);
}
